<br>

<div class="container-fluid">
      <input id="search-input" name="search" class="form-control me-2" value="">
      <button id="search-button" class="btn btn-outline-dark ml-2" type="submit">Search</button>
</div>
<br>
<div class="container-fluid">
  <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">id</th>
          <th scope="col">title</th>
        </tr>
      </thead>
      <tbody class="search-container">

      </tbody>
  </table>
</div>
<br>
<%- include("_item_table")%>